doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= title

    include ../node_modules/pug-bootstrap/_bootstrap.pug
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background-color: #FF8961;')
    block content